@import url(./Normalize.css);

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #90a82b;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 0 auto;
    text-align: center;
}

.nav-toggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.nav-arrow {
    height: min(10vw, 40px);
    width: min(10vw, 40px);
    text-align: center;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;

}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

#navMenu ul {
    display: flex;
    justify-content: space-evenly;
}

.hero {
    background: #ecf0f1cc;
    text-align: center;
    padding-top: .1vh;
    padding-bottom: 3vh;
    left: 0;
    right: 0;
    margin: auto;
    width: min(80vw, 800px);
    height: fit-content;
    position: absolute;
    bottom: 0;
    top: 0;
}

.hero h2 {
    color: #90a82b;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #90a82b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.hero-container {
    position: relative;
    height: fit-content;
}

.hero-container img {
    height: 50vh;
    overflow-x: hidden;
    text-align: center;
    width: 100%;

}

.to-top {
    text-decoration: none;
    color: white;
    background-color: #90a82b;
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-top>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-top>a>img {
    height: 80%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.hidden {
    display: none;
}

.second-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4ch;
    border: 4px #90a82b solid;
    border-radius: 20px;
    margin: 5px;
    padding-top: 5px;
    -webkit-box-shadow: 0px 5px 7px 2px rgba(116, 116, 116, 0.82);
    box-shadow: 0px 5px 7px 2px rgba(116, 116, 116, 0.82);
}

.second-card h2 {
    color: #90a82b;
    font-weight: bolder;
}

.second-card .p1-wrapper {
    padding-right: 4ch;
    padding-left: 4ch;
}

.p1-wrapper>p {
    font-size: medium;
    line-height: 2.8ch;
}

.second-card>div>img {
    height: 50vh;
    width: auto;
    border-radius: 40px 0px;
}

.steps>h1 {

    text-align: center;
}

.step-cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.step-card {
    border: 4px #90a82b solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    padding: 2ch 4ch;
    text-align: center;
    margin: 10px 2ch;
}

.step-card a:link {
    color: #90a82b;
    text-decoration: underline;
}

.step-card>div {
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
}

.step-card>div>img {
    height: 50px;

}

.step-card>h3 {
    max-width: 30ch;
    flex: 0;
}

@media screen and (min-width: 800px) {
    .hero-container img {
        width: 100vw;
    }

    .second-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
}


/* Add more styles as needed */